In [157]:
import pandas as pd
suv = pd.read_csv('SUV_Purchase.csv')

In [158]:
suv

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [159]:
suv = suv.dropna(axis=0)

In [160]:
suv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 18.8+ KB

In [161]:
#Membuang kolom tidak penting
suv.drop(['User ID','Gender'], axis=1, inplace=True)

In [162]:
suv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 12.5 KB

In [163]:
suv

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [164]:
#X adalah atribut dan y adalahh label
X = suv[['Age','EstimatedSalary']]
y = suv['Purchased']

In [165]:
#Membagi data test dan data train
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

In [166]:
#Membuat model decision tree
from sklearn.tree import DecisionTreeClassifier

tree_model = DecisionTreeClassifier()
tree_model = tree_model.fit(X_train,y_train)

In [167]:
#Evaluasi model
from sklearn.metrics import accuracy_score
y_pred = tree_model.predict(X_test)
acc_secore = round(accuracy_score(y_pred, y_test),3)
print('accuracy :', acc_secore)

accuracy : 0.8

In [177]:
age = input('Masukkan umur pembeli ')
salary = input('Masukkan perkiraan penghasilan pertahun (usd)')

Masukkan umur pembeli 20
Masukkan perkiraan penghasilan pertahun (usd)10000

In [179]:
output = tree_model.predict([[age,salary]])[0]
if output == 1:
  print('buy')
else:
  print('not buy')

not buy

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [174]:
from sklearn.tree import export_graphviz
export_graphviz(
    tree_model,
    out_file = "suv_tree.dot",
    feature_names = ['Age', 'EstimatedSalary'],
    class_names = ['Not Buy','Buy' ],
    rounded= True,
    filled =True
)